:root {
  --background: #101114;
  --primary-color: #131415;
  --secondary-color: #484a51;
  --accent-color: #d43bdf;
  --text-color: #f9f9f9;
}

.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Indie Flower", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16pt;
  color: var(--text-color);
}
body {
  min-height: 100vh;
  padding: 10px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  color: var(--accent-color);
}
.wrapper {
  width: 700px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#todo-input {
  box-sizing: border-box;
  padding: 12px 20px;
  width: 100%;
  background: none;
  border: 2px solid var(--secondary-color);
  border-radius: 1000px;
  font: inherit;
  color: var(--text-color);
  caret-color: var(--accent-color);
}
#todo-input:focus {
  outline: none;
}
form {
  position: relative;
}
#add-button {
  position: absolute;
  top: 0;
  right: 0;

  background-color: var(--accent-color);
  height: 100%;
  padding: 0 30px;
  border: none;
  border-radius: 1000px;
  font: inherit;
  font-weight: 600;
  color: var(--background);
  cursor: pointer;
  z-index: 1;
}

.todo {
  margin-bottom: 10px;
  padding: 0 16px;
  background-color: var(--primary-color);
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.todo .todo-text {
  padding: 15px;
  padding-right: 0;
  flex-grow: 1;
  transition: 200ms ease;
}
.delete-button {
  padding: 3px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.delete-button svg {
  transition: 200ms ease;
}
.delete-button:hover svg {
  fill: #ff0033;
}
.custom-checkbox {
  border: 2px solid var(--accent-color);
  border-radius: 50%;
  min-height: 20px;
  min-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: 200ms ease;
  cursor: pointer;
}
input[type="checkbox"]:checked ~ .custom-checkbox {
  background-color: var(--accent-color);
}
input[type="checkbox"]:checked ~ .custom-checkbox svg {
  fill: var(--primary-color);
}
input[type="checkbox"]:checked ~ .todo-text {
  text-decoration: line-through;
  color: var(--secondary-color);
}
input[type="checkbox"] {
  display: none;
}
@media (max-width: 500px) {
  html {
    font-size: 12pt;
  }
  #add-button {
    position: unset;
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    height: auto;
  }
  h1 {
    margin-top: 50px;
    font-size: 15vw;
  }
}

/* login / Register styling */
body {
  margin: 0;
  padding: 0;
}

.auth-container {
  height: 90vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  border: 2px solid var(--text-color);
  padding: 10px 20px;
  border-radius: 10%;
  margin: auto;
  margin-top: 30vh;
}

.input {
  box-sizing: border-box;
  padding: 12px 20px;
  width: 100%;
  background: none;
  border: 2px solid var(--secondary-color);
  border-radius: 1000px;
  font: inherit;
  color: var(--text-color);
  caret-color: var(--accent-color);
}

.button {
  background-color: var(--accent-color);
  height: 100%;
  padding: 8px 30px;
  border: none;
  border-radius: 1000px;
  font: inherit;
  font-weight: 750;
  color: var(--background);
  cursor: pointer;
}

#show-register {
  display: inline;
  text-decoration: none;
  color: var(--accent-color);
}
#show-login {
  display: inline;
  text-decoration: none;
  color: var(--accent-color);
}

.toggle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.text {
  font-size: 80%;
}

.register {
  display: none;
}

#logout-btn {
  position: absolute;
  right: 43%;
  left: 43%;
  height: 7%;
}

#ten-countdown{
  text-align: center;
  border: 1px solid var(--secondary-color);
  display:inline;
  padding: 10px;
  color: var(--accent-color);
  font-family: Verdana, sans-serif, Arial;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  right: 45%;
  left: 45%;
  top: -2px;
}