* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 300px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
}

li {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li input[type="checkbox"] {
    margin-right: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    ;
}

button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

button.remove-task-btn {
    background-color: black;
    color: white;
    padding: 5px;
    width: 30px;
    border-radius: 5px;
    cursor: pointer;
    
}
button.remove-task-btn:hover {
    background-color: #333;
}