* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #000;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.box {
    background-color: #0B60B0;
    width: 100%;
    max-width: 530px;
    height: fit-content;
    margin: auto;
    border-radius: 20px;
    padding: 40px 30px 70px;

}

.todo_h {
    color: rgb(240, 237, 207);
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 8px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    margin-bottom: 25px;
    padding-left: 20px;
    background-color: rgb(252, 220, 225);
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button {
    flex: 1;
    border: none;
    outline: none;
    padding: 16px 2px;
    font-size: 16px;
    background-color: rgb(64, 162, 216);
    cursor: pointer;
    border-radius: 50px;
}

ul li {
    list-style: none;
    font-size: 18px;
    user-select: none;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    position: relative;
    padding-top: 15px;
    color: rgb(244, 223, 200);
}

ul li::before {
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(/images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: rgb(152, 171, 238);
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: rgb(244, 223, 200);
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background-color: rgb(64, 162, 216);
}